* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ///////header style/////// */

header {
  padding: 31px;
  padding-left: 150px;
  display: flex;
  align-items: center;
}
nav {
  margin-left: 35px;
  display: flex;
  align-items: center;
  gap: 41px;
  margin-right: 550px;
}
nav a {
  color: var(--BLACK, #150c01);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.home {
  color: #dc780b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
header button {
  padding: 13px 30px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 5px;
  background: var(--PRIMARY, #dc780b);
  border: none;
}

.section-1 {
}

.section-2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  color: #dc780b;
  text-align: center;
  font-weight: 500;
}

.section-2 h1 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 350px;
  gap: 50px;
}
.div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.div-1 img {
  width: 80px;
  height: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.div-1 .black {
  align-items: center;
  font-size: 20px;
  width: 300px;
  color: #150c01;
  margin: 0px 10px;
}

.div-1 .white {
  padding: 0px 70px;
  font-size: 20px;
  margin-bottom: 15px;
}

.div-2 img {
  width: 80px;
  height: 80px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.div-2 .whiti {
  margin: 0px 65px;
  font-size: 20px;
  margin-bottom: 15px;
}

.blacke {
  width: 250px;
}

.div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.div-3 img {
  margin-bottom: 20px;
}

.div-3 .soso {
  margin: 0px 65px;
  font-size: 25px;
  margin-bottom: 15px;
}

.sisi {
  width: 250px;
}
