* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ///////header style/////// */

header {
  padding: 31px;
  padding-left: 150px;
  display: flex;
  align-items: center;
}
nav {
  margin-left: 35px;
  display: flex;
  align-items: center;
  gap: 41px;
  margin-right: 550px;
}
nav a {
  color: var(--BLACK, #150c01);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.home {
  color: #dc780b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
header button{
    padding: 13px 30px;
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
border-radius: 5px;
background: var(--PRIMARY, #DC780B);
border: none;
}
.section-1{
  padding-left: 150px;
}
.boss-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-1 h1{
color: var(--BLACK, #150C01);
font-size: 48.83px;
font-style: normal;
font-weight: 700;
width: 555px;
height: 161px;
margin-bottom: 40px;
}
.left-1 p{
  width: 555px;
height: 43px;
flex-shrink: 0;
color: var(--BLACK, #150C01);
font-size: 16px;
font-style: normal;
font-weight: 500;
margin-bottom: 50px;
}
.but-1{
  display: flex;
  gap: 30px;
}
.but-2{
  color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
border-radius: 5px;
background: #DC780B;
padding: 21px 40px;
border: none;
}
.but-3{ 
  color: #DC780B;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 21px 40px;
border-color:rgb(202, 199, 199) ;
border-radius: 5px;
background-color: transparent;
}